<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
      </div>
    </div>
    <h1 class="default-padding">
      <%= t(:all_model, :model => ConcertoManykinds::Manykind.model_name.human.pluralize) %>
    </h1>
  </header>
  <div class="viewblock-cont">
  </div>
</section>
