<li>
  <%= item.kind.name %>
  <% if can? :update, item.template %>
    <%= link_to t(:destroy), manykindsengine.manykind_path(item), data: { confirm: t('concerto_manykinds.are_you_sure_delete', kind: item.kind.name, field: item.field.name), type: 'json' }, method: :delete, class: "mk-delete btn btn-small", remote: true %>
  <% end %>
</li>
